postgres: &postgres
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: <username>
  password: <password>

development:
  <<: *postgres
  database: stompfish_development

test:
  <<: *postgres
  database: stompfish_test

production:
  <<: *postgres
  database: stompfish_production
