defaults: &defaults
  # directory to scan for new files
  watch_dir: <directory to monitor for changes>

  # directory to import new files
  import_dir: <directory to import files into>

development:
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
